<table style="width:100%">
    <tr>
        <td>
            Timezone: @TimeZone
        </td>
        <td>
            <a href="@RepoUrl" target="_blank">GitHub Repository</a>
        </td>
    </tr>
</table>

@code {
    private string TimeZone => TimeZoneInfo.Local.ToString();
    private const string RepoUrl = "https://github.com/jugstalt/messagequeuenet";
}